{% extends "general/base.html" %}
{% load i18n %}

{% block body %}
  <div class="hero">
    <div class="hero-slide">
      <div
        class="img overlay"
        style="background-image: url('images/hero_bg_3.jpg')"
      ></div>
      <div
        class="img overlay"
        style="background-image: url('images/hero_bg_2.jpg')"
      ></div>
      <div
        class="img overlay"
        style="background-image: url('images/hero_bg_1.jpg')"
      ></div>
    </div>

    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-9 text-center">
          <h1 class="heading" data-aos="fade-up">
            {% trans "L'outil le plus efficace pour génrer vos événements" %}
          </h1>
          <form
            action="#"
            class="narrow-w form-search d-flex align-items-stretch mb-3"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <!-- <input
              type="text"
              class="form-control px-4"
              placeholder="Your ZIP code or City. e.g. New York"
            /> -->
            <a class="btn btn-primary m-3" href="{% url 'register' 'Client' %}">{% trans "Créer événement" %} </a>
            <a class="btn btn-outline-primary m-3" href="{% url 'register' 'Partenaire' %}">{% trans "Consulter événements" %} </a>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="section">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-lg-6">
          <h2 class="font-weight-bold text-primary heading">
            Popular Properties
          </h2>
        </div>
        <div class="col-lg-6 text-lg-end">
          <p>
            <a
              href="#"
              target="_blank"
              class="btn btn-primary text-white py-3 px-4"
              >View all properties</a
            >
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">



        </div>
      </div>
    </div>
  </div> -->
{% endblock %}