{% extends "general/base.html" %}
{% load i18n %}

{% block body %}
<div class="container-fluid mt-3" style="text-align: -webkit-center;">

<h1 class="h3 mb-3 mt-3"><strong>Mot de passe</strong> défini</h1>


      <div class="col-12 col-lg-6 col-md-12">
        <div id="pharmacy-form" class="card">
          <div class="card-body">
                    Votre mot de passe a été défini. Vous pouvez maintenant <a href="{% url 'login' %}">s'identifier ici</a>
          </div>
        </div>
      </div>
</div>

{% endblock %}
